.head-box {
    min-width: 1000px;
    background-color: #fff;
    border-top: 4px solid #009688;
}

.head-box .inner {
    height: 60px;
}

.head-box .inner.wrp {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.head-box .inner .logo a {
    display: inline-block;
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
    color: #ccc;
    vertical-align: baseline;
}

.head-box .logo-image {
    width: 40px;
    height: 40px;
}

.head-box .banner {
    height: 460px;
    background: transparent url("../images/bg.jpg") no-repeat center center;
    background-size: cover;
}

.head-box .banner .inner {
    height: 460px;
}

.login-frame {
    padding: 25px 35px 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #fff;
}

.head-box .banner .login-frame {
    width: 330px;
    float: right;
    margin-top: 25px;
    padding: 36px 35px 40px;
}

.head-box .banner .login-frame h3 {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
}

.layui-reset .layui-form-checkbox {
    margin: 0;
}

.layui-reset .layui-form-label {
    padding: 8px 0;
    width: 80px;
}

.layui-reset .layui-input-block {
    margin-left: 80px;
}

.layui-reset .layui-input-inline {
    margin-left: 0;
}

.layui-reset .layui-btn {
    width: 120px;
}
.layui-layout-admin .layui-custom {
    color: #fff;
    background-color: #fff;
    border-bottom: 5px solid #009688;
    box-sizing: border-box;
}

.layui-custom .logo {
    display: inline-block;
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
    color: #ccc;
    vertical-align: baseline;
}

.layui-custom .logo-image {
    width: 40px;
    height: 40px;
}

.layui-custom .layui-nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
}

.layui-custom .layui-nav .layui-nav-item {
    margin: 0 10px;
}

.layui-custom .layui-nav .layui-nav-item,
.layui-custom .layui-nav .layui-this {
    background-color: #f2f2f2;
}

.layui-custom .layui-nav .layui-nav-item a,
.layui-custom .layui-nav .layui-this a {
    color: #000;
}

.layui-custom .layui-nav .layui-nav-item:after,
.layui-custom .layui-nav .layui-this:after,
.layui-custom .layui-nav-bar {
    background-color: #393D49;
}

.layui-custom .layui-nav .layui-nav-item a,
.layui-custom .layui-nav .layui-this a {
    padding: 0 30px;
}

.layui-custom .layui-nav-child {
    right: 0;
    top: auto;
}

.layui-custom .img-avatar {
    margin-right: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.layui-side .list-items i {
    position: relative;
    top: 2px;
    font-size: 20px;
}

.layui-side .list-items cite {
    padding: 0 10px;
}

.layui-table-custom {
    padding: 0 30px;
}
.layui-table-custom .layui-table-wrapper {
    min-height: 391px;
}
.layui-table-custom table {
    table-layout: fixed;
}

.layui-table-custom table td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.newsTable-title a {
    display: block;
}
.layui-pageNav-custom {
    text-align: right;
}

.layui-table-operate {
    overflow: hidden;
}

.news-input-search {
    float: left;
}

.news-input-search .layui-input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.news-btn-search {
    float: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.news-btn-add {
    float: right;
}

.layui-form-item .layui-input-submit-custom {
    width: 90px;
}
.layui-input-no-left {
    margin-left: 110px;
}

.preview-wrapper {
    display: inline-block;
    padding: 98px 28px 102px;
    width: 431px;
    height: 867px;
    background: url("../images/iPhone.png") no-repeat;
    background-size: contain;
    box-sizing: border-box;
}
#js-previewBox {
    display: none;
}
#previewBox {
    padding: 16px 3% 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, "Microsoft YaHei", sans-serif;
}

#previewBox h3 {
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 1.3;
    color: #000;
}

#previewBox .subtitle {
    padding-bottom: 18px;
}

#previewBox .author {
    margin-right: 10px;
    font-size: 17px;
    color: #505050;
    height: auto;
    line-height: 1;
}

#previewBox .time {
    font-size: 17px;
    color: #8c8c8c;
    height: auto;
    line-height: 1;
}

#previewBox p {
    font-size: 14px;
    margin-bottom: 16px;
    color: #3e3e3e;
}

#previewBox p img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.layui-form-item .layui-input-file-custom {
    width: auto;
}
.preview-list-item {
    display: inline-block;
    margin-right: 20px;
    width: 192px;
    min-height: 108px;
}
.preview-list-item:last-of-type {
    margin-right: 0;
}
.MINI-Upload {
    display: block;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    vertical-align: top;
}
.MINI-Delete {
    display: none;
}
/*重写上传插件样式*/
.file-upload-reset {
    padding: 0;
}
.ajax-file-upload-container {
    margin-top: 15px;
}
.ajax-file-upload-statusbar {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    min-height: 108px;
}
.ajax-file-upload-preview {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
.ajax-file-upload-filename {
    display: none;
}
.ajax-file-upload-cancel {
    position: absolute;
    top: 5px;
    right: 5px;

    outline: 0;
    -webkit-transition: border-color .3s cubic-bezier(.65,.05,.35,.5);
    transition: border-color .3s cubic-bezier(.65,.05,.35,.5);
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;

    display: none !important;
    background-color: #FF5722;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    filter: alpha(opacity=90);

    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 12px;
}
.ajax-file-upload-cancel:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    color: #fff;
}
.ajax-file-upload-statusbar:hover .ajax-file-upload-cancel {
    display: inline-block !important;
}
.ajax-file-upload ~ div > .ajax-file-upload-error {
    margin-top: 4px;
    padding: 6px;
    color: #FF5722;
    border-left: 5px solid #FF5722;
    background-color: #f2f2f2;
}
.layui-textarea {
    resize: none;
}
.layui-checkbox-custom .layui-word-aux {
    display: inline-block;
    vertical-align: sub;
}
.newsType-list {
    padding: 10px 10px 0 10px;
    height: 110px;
}
.newsType-list .list-items {
    display: none;
    float: left;
}
.newsType-list .show {
    display: block;
}
#layui-mainUpload {
    position: relative;
}
#js-coverUpload {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 111px;
    background-color: rgba(226,226,226, .6);
    z-index: 999;
    cursor: not-allowed;
}