<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>

    <title>小程序管理平台 - 添加新闻</title>

    <link rel="stylesheet" href="http://resali.huobanplus.com/cdn/layui/1.0.7/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../resources/css/main.css" media="all"/>

</head>
<body>
<!--/*@thymesVar id="user" type="com.huobanplus.miniapp.web.entity.User"*/-->
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-custom">
        <div class="layui-main">
            <a class="logo" href="javascript:;">
                <img src="../resources/images/page/logo.png" alt="Logo" class="logo-image"/>
                小程序 &centerdot; 管理平台
            </a>
            <ul class="layui-nav">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;">
                        <!--如果有头像的话-->
                        <img src="../resources/images/page/avatar.jpg" th:src="${user.avatar}"
                             class="img-avatar"/>
                        <span th:text="${user.username}"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="operateUser.html" th:href="@{/user/{id}(id=${user.id})}" target="_self">用户设置</a>
                        </dd>
                        <dd>
                            <a href="/logout" th:href="@{/logout}" target="_self">退出</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item  layui-nav-itemed">
                    <a href="javascript:;">新闻管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="index.html" th:href="@{/index}" class="list-items">
                                <i class="layui-icon">&#xe62d;</i>
                                <cite>新闻列表</cite>
                            </a>
                        </dd>
                        <dd class="layui-this">
                            <a href="javascript:;" target="frameMain" class="list-items">
                                <i class="layui-icon">&#xe61f;</i>
                                <cite>添加新闻</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="operateUser.html" th:href="@{/user/{id}(id=${user.id})}" class="list-items">
                                <i class="layui-icon">&#xe613;</i>
                                <cite>用户设置</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div class="layui-table-custom">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>添加新闻</legend>
                <div class="layui-field-box">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">新闻标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="newsTittle" lay-verify="required" autocomplete="off"
                                       placeholder="请输入标题（必填）"
                                       class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新闻作者</label>
                            <div class="layui-input-inline">
                                <input type="text" name="newsAuthor" lay-verify="required" autocomplete="off"
                                       placeholder="请输入作者" class="layui-input"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">可选</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">发布时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="date" id="js-date" lay-verify="date" placeholder="yyyy-mm-dd"
                                       autocomplete="off" class="layui-input"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">默认当前时间</div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">新闻简介</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容（可选）" name="newsSummary" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">新闻详情</label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea layui-hide" name="content" lay-verify="content"
                                          id="LAY_demo_editor"></textarea>
                                <script id="editor" type="text/plain"></script>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="*">提&nbsp;&nbsp;&nbsp;&nbsp;交
                                </button>
                            <div class="layui-input-inline layui-input-submit-custom">
                                <button class="layui-btn" lay-submit="" lay-filter="*">提&nbsp;&nbsp;&nbsp;&nbsp;交
                                </button>
                            </div>
                            <div class="layui-input-inline">
                                <button type="button" class="layui-btn layui-btn-primary" id="js-btn-preview">预&nbsp;&nbsp;&nbsp;&nbsp;览</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
            <div id="previewBox"></div>
        </div>
    </div>
</div>

</body>
<script src="http://resali.huobanplus.com/cdn/jquery/2.2.4/jquery.min.js"></script>
<script src="http://resali.huobanplus.com/cdn/layui/1.0.7/lay/dest/layui.all.js"></script>
<script src="../resources/ueditor/ueditor.config.js"></script>
<script src="../resources/ueditor/ueditor.all.js"></script>
<script src="../resources/ueditor/lang/zh-cn/zh-cn.js"></script>
<script id="previewHtml" type="text/html">
    <h3>{{ d.title }}</h3>
    <div>
        <span class="author">{{ d.author }}</span>
        <span class="time">{{ d.date }}</span>
    </div>
    <div class="news-wrapper">{{ d.content }}</div>
</script>
<script>
    $(function () {
        var verify = {
            required: [
                /[\S]+/
                , '必填项不能为空'
            ]
            , phone: [
                /^1\d{10}$/
                , '请输入正确的手机号'
            ]
            , email: [
                /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/
                , '邮箱格式不正确'
            ]
            , url: [
                /(^#)|(^http(s*):\/\/[^\s]+\.[^\s]+)/
                , '链接格式不正确'
            ]
            , number: [
                /^\d+$/
                , '只能填写数字'
            ]
            , date: [
                /^(\d{4})[-\/](\d{1}|0\d{1}|1[0-2])([-\/](\d{1}|0\d{1}|[1-2][0-9]|3[0-1]))*$/
                , '日期格式不正确'
            ]
            , identity: [
                /(^\d{15}$)|(^\d{17}(x|X|\d)$)/
                , '请输入正确的身份证号'
            ]
        };

        var ue =UE.getEditor('editor', {
            initialFrameWidth: '100%',
            initialFrameHeight: 500,
            autoHeightEnabled: false,
            elementPathEnabled: false
        });

        var newsData = {};
        var laytpl = layui.laytpl(),
            laydate = layui.laydate(),
            form = layui.form();


        $('#js-btn-preview').click(function () {
            var stop = null;
            $('input').each(function () {
                var ver = $(this).attr('lay-verify');
                var value = $(this).val();

                if(ver && !verify[ver][0].test(value)) {
                    layer.msg(verify[ver][1], {
                        icon: 5
                        ,shift: 6
                    });
                    $(this)[0].focus();

                    return stop = true;
                }
            });
            if (stop) return false;

            var content = ue.getContent();

            if(!verify['required'][0].test(content)) {
                layer.msg(verify['required'][1], {
                    icon: 5
                    ,shift: 6
                });
                ue.focus();

                return stop = true;
            }

            if (stop) return false;

            var newsDate = $('input[name="newsDate"]').val();

            newsData.title = $('input[name="newsTittle"]').val();
            newsData.author = $('input[name="newsAuthor"]').val();
            newsData.date = newsDate ? newsDate : laydate.now();
            newsData.summary = $('input[name="newsSummary"]').val();
            newsData.content = content;


            var getTpl = document.getElementById('previewHtml').innerHTML;

            laytpl(getTpl).render(newsData, function(html){
                previewBox.innerHTML = html;
            });
        });

        form.on('submit(*)', function (data) {
            var loginData = data.field;
            console.log(loginData)
//            $.ajax({
//                type: 'POST',
//                url: successUrl,
//                data: loginData,
//                dataType: 'json',
//                statusCode: {
//                    403: function () {
//                        layer.msg('没有权限，请联系管理员', {icon: 2});
//                    },
//                    404: function () {
//                        layer.msg('页面未找到，请联系管理员', {icon: 2});
//                    },
//                    502: function () {
//                        layer.msg('无效网关，请联系管理员', {icon: 2});
//                    }
//                },
//                success: function (data) {
//                    if (data.resultCode !== 200) {
//                        layer.msg('密码错误', {icon: 2});
//                        return false;
//                    }
//                    window.location.href = './views/index.html';
//                },
//                error: function (jqXHR, textStatus, errorThrown) {
//                    layer.msg(errorThrown);
//                }
//            });
            return false;
        });

        $('#js-date').click(function () {
            laydate({
                elem: this
            })
        });
    });
</script>
</html>